.group-container {
  margin: 150px 30px;
  height: 400px;
  width: 100%;
  background-color: red
}
.group-table {
  height: 50px;
  background-color: blue;
}

.group-table-head-row {
  height: 50px;
  background-color: black;
}
.group-table-body-row {
  height: 50px;
  background-color: rgb(128, 110, 40);
}
