<app-group-item></app-group-item>
<div class="group-container" >
  <div>
    <table class="group-table">

      <thead>
        <tr class="group-table-head-row">
          <th></th>
          <th>Id</th>
          <th>GroupName</th>
          <th>Group year</th>
          <th>President</th>
          <th>Year</th>

        </tr>
      </thead>

      <tbody>
        <tr class="group-table-body-row" *ngFor="let group of groups" (click)="onGroupClick(group)">
          <td><button (click)=delGroup(group.Id) >Delete</button></td>
          <td><span>{{group.Id}}</span></td>
          <td><span>{{group.GroupName}}</span></td>
          <td><span>{{group.GroupYear}}</span></td>
          <td><span>{{group.President}}</span></td>
          <td><span>{{group.Year}}</span></td>
        </tr>
      </tbody>

    </table>
    <ul>
      <li *ngFor="let student of selectedStudents" (click)="onStudentClick(student)">
        <img src="{{student.Image}}"  style="width:60px; height:60px;" alt="">
        {{ student.FirstName }} {{ student.LastName }} {{student.PhoneNumber}}
        <button (click)=delStudent(student.Id) >Delete</button>
      </li>
    </ul>
  </div>

  <div class="edit-table-container">
    <div class="add-groups">
        <div class="add-group-name">
          <label>GroupName</label>
          <input required maxlength="24" type="text" name="groupName" [(ngModel)]="newGroup.GroupName" >
        </div>

        <div class="add-group-year">
          <label>Year</label>
          <input required maxlength="4" type="number" name="year" [(ngModel)]="newGroup.Year">
        </div>

        <div class="add-group-group-year">
          <label>Group Year</label>
          <input required maxlength="2" type="number" name="groupYear" [(ngModel)]="newGroup.GroupYear">
        </div>

      <button class="addButton" (click)=submitGroup()>Submit group</button>
    </div>

    <div class="add-students">
      <div class="add-students-name">
        <label for="">First Name</label>
        <input type="text" [(ngModel)]="newStudent.FirstName">
      </div>

      <div class="add-students-last-name">
        <label for="">Last Name</label>
        <input type="text" [(ngModel)]="newStudent.LastName">
      </div>

      <div class="add-students-phone">
        <label for="">Phone number</label>
        <input type="number" [(ngModel)]="newStudent.PhoneNumber">
      </div>

      <div class="add-students-group">
        <select name="Choose group" id="" [(ngModel)]="newStudent.GroupForeignKey">
          <option value="" hidden selected>Choose a group</option>
          <option *ngFor="let group of groups" [ngValue]="group.Id">
            {{group.GroupName}}
          </option>
        </select>
      </div>

      <div class="add-students-submit">
        <input type="file" #file placeholder="Choose file" (change)="submitStudent($event)" style="display: none">
        <button (click)="file.click()">Submit student</button>
      </div>
    </div>

    <div class="edit-group">
      <div class="edit-group-select">
        <select name="Choose group"  [(ngModel)]="groupToEdit">
          <option  selected value="">Choose a group</option>
          <option *ngFor="let group of groups" [ngValue]="group">
            {{group.GroupName}}
          </option>
        </select>
      </div>

      <div class="edit-group-name">
        <label>GroupName</label>
        <input required maxlength="24" class="form-control" type="text" name="groupName" [(ngModel)]="groupToEdit.GroupName" >
      </div>

      <div class="edit-group-year">
        <label>Year</label>
        <input required maxlength="4" class="form-control"   type="number" name="year" [(ngModel)]="groupToEdit.Year">
      </div>

      <div class="edit-group-president">
        <label>President of the group</label>
        <select name="President of the group" name="president" [(ngModel)]="groupToEdit.President">
          <option >Choose the president</option>
          <option *ngFor="let student of groupToEdit.Students">
            {{ student.FirstName }} {{ student.LastName }}
          </option>
        </select>
      </div>

      <div class="edit-group-group-year">
        <label>Group Year</label>
        <input required maxlength="2" class="add-group-form-lg" type="number" name="groupYear" [(ngModel)]="groupToEdit.GroupYear">
      </div>

      <button (click)=editGroup()>Edit</button>
    </div>

    <div class="edit-students">
      <p>Click on student in group to select</p>
      <div class="edit-group-name">
        <input type="hidden" [(ngModel)]="studentToEdit.Id">
        <label for="">First Name</label>
        <input type="text" [(ngModel)]="studentToEdit.FirstName">
      </div>

      <div class="edit-group-last-name">
        <label for="">Last Name</label>
        <input type="text" [(ngModel)]="studentToEdit.LastName">
      </div>

      <div class="edit-group-phone">
        <label for="">Phone number</label>
        <input type="number" [(ngModel)]="studentToEdit.PhoneNumber">
      </div>

      <div class="edit-group-choose">
        <select name="Choose group"  [(ngModel)]="studentToEdit.GroupForeignKey">
          <option >Choose a group</option>
          <option *ngFor="let group of groups" [ngValue]="group.Id">
            {{group.GroupName}}
          </option>
        </select>
      </div>

      <div class="edit-group-submit">
        <input type="file"  #updatedFile placeholder="Choose file" (change)="editStudent($event)" style="display: none">
        <button (click)="updatedFile.click()">Edit Student</button>
      </div>
    </div>
  </div>
</div>
