<app-group-item></app-group-item>

<div class="group-container">
  <table class="group-table">
    <thead>
      <tr class="group-table-head-row">
        <th>Id</th>
        <th>GroupName</th>
        <th>Group year</th>
        <th>President</th>
        <th>Year</th>
      </tr>
    </thead>
    <tbody>
      <tr class="group-table-body-row" *ngFor="let group of groups" (click)="onGroupClick(group)">
        <td><span>{{group.Id}}</span></td>
        <td><span>{{group.GroupName}}</span></td>
        <td><span>{{group.GroupYear}}</span></td>
        <td><span>{{group.President}}</span></td>
        <td><span>{{group.Year}}</span></td>
      </tr>
    </tbody>
  </table>
  <ul>
    <li  *ngFor="let student of selectedStudents">
      {{ student.FirstName }} {{ student.LastName }} {{student.PhoneNumber}}
    </li>
  </ul>
</div>
<div class="edit-table-container">
  <!-- <div class="add-groups">
    <form action="">
      <label for="GName">Group Name</label>
      <input type="text"  id="GName">
      <label for="GYear">Group Year</label>
      <input type="number" id="GYear">
      <label for="President">President</label>
      <input type="text" id="President">
      <label for="Year">Year</label>
      <input type="number" id="Year">

    </form>
  </div> -->
  <div class="edit-groups">
    <form action="http://localhost:4200/api/Home/Groups" method="post" [formGroup]="addGroupForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="GName">GroupName</label>
        <input type="text" id="GName" formControlName="GName">
      </div>
      <div>
        <label for="GYear">Group Year</label>
        <input type="number" id="GYear" formContolName="GYear">
      </div>
      <div>
        <label for="President">President of the group</label>
        <input type="text" id="President" formControlName="President">
      </div>
      <div>
        <label for="Year">Year</label>
        <input type="number" id="Year" formControlName="Year">
      </div>
      <button class="addButton" type="submit">Add</button>
    </form>
  </div>
</div>
