.group-container {
  margin: 150px 20px;
  padding: 10px 10px;
  height: auto;
  background-color: gray;
  display: flex;
  justify-content: space-between;
}
.group-table {
  height: 50px;
  background-color: blue;
}

.group-table-head-row {
  height: 50px;
  background-color: black;
}
.group-table-body-row {
  height: 50px;
  background-color: rgb(128, 110, 40);
}

.group-list-container, ul {
  list-style-type: none;
}
.group-list-container {
  margin: 0;
  padding: 0;
}
.group-list-arrow {
  cursor: pointer;
  user-select: none;
}
.group-list-arrow::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}
.group-list-arrow-down::before {
  transform: rotate(90deg);
}
.group-list-nested {
  display: none;
}
.active {
  display: block;
}

.edit-table-container {
  display: flex;
  flex-direction: row;
  background-color: black;
  width: 50%;
  min-height: 400px;
  flex-wrap: wrap;
  align-content: space-between;
  gap: 10px 200px;
}
.add-groups {
  display: flex;
  padding: 10px;
  height:  200px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

}

.add-groups .add-group-name, .add-group-year, .add-group-group-year {
  display: flex;
  margin: 5px 0px;
  flex-direction: column;
}

.add-students {
  display: flex;
  padding: 10px;
  height:  200px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.add-students .add-students-name, .add-students-last-name, .add-students-phone, .add-students-group, .add-students-submit  {
  display: flex;
  margin: 5px 0px;
  flex-direction: column;
}

.edit-group {
  display: flex;
  padding: 10px;
  height:  250px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.edit-group .edit-group-select, .edit-group-name, .edit-group-year, .edit-group-president, .edit-group-group-year  {
  display: flex;

  margin: 5px 0px;
  flex-direction: column;
}

.edit-students {
  display: flex;
  padding: 10px;
  height:  250px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.edit-students .edit-group-name, .edit-group-last-name, .edit-group-phone, .edit-group-choose, .edit-group-submit, p {
  display: flex;

  margin: 5px 0px;
  flex-direction: column;
}
